/*
Error: Invalid CSS after "...und-size: cover": expected "{", was ";"
        on line 43 of ../sass/main.scss

38:             rgba(116, 202, 255, 0.7),
39:             rgba(0, 131, 211, 0.8)
40:         ),
41:         url("./../images/background-01.jpg");
42: <<<<<<< HEAD
43:     background-size: cover;
44: =======
45:     color: #333;
46:     height: 100vh;
47: >>>>>>> master
48: }

Backtrace:
../sass/main.scss:43
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/capewearingmama/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/capewearingmama/.rbenv/versions/2.4.2/bin/sass:23:in `load'
/Users/capewearingmama/.rbenv/versions/2.4.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...und-size: cover\": expected \"{\", was \";\"\A         on line 43 of ../sass/main.scss\A \A 38:             rgba(116, 202, 255, 0.7),\A 39:             rgba(0, 131, 211, 0.8)\A 40:         ),\A 41:         url(\"./../images/background-01.jpg\");\A 42: <<<<<<< HEAD\A 43:     background-size: cover;\A 44: =======\A 45:     color: #333;\A 46:     height: 100vh;\A 47: >>>>>>> master\A 48: }"; }
