
.answers{
    margin-top:20%;
}

.card-body{
    margin-top: 10px;
    margin: auto !important;
    padding: 0 !important;
    text-align: center;
}

.card-text{
    padding-top: 10px !important;
}

.thumbs{
    height: 217px;
}

.thumb-cards{
    margin: 20px;
}