
.bk-0 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-01.jpg");
}

.bk-1 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-02.jpg");
}

.bk-2 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-03.jpg");
}

.bk-3 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-04.jpg");
}

.bk-4 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-05.jpg");
}

.bk-5 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.7),
            rgba(0, 131, 211, 0.7)
        ),
        url("/images/background-06.jpg");
}