
#feeling-sentance {
    color: green;
    font-size: 3em;
    font-family: $font2;
    text-align: center;
    margin-bottom: 50px;
}

#disclaimer {
    color: white;
    font-size: .7em;
    font-style: italic;
    margin-top: 200px;
}