.btn{
    border: 1px solid black !important;
    width: 40%;
    margin-bottom: 10px;
}

.sub-item{
    color: black;
    
}

.last-btn-item{
    background: black;
    color: white;
    border: none;
    width: 40%;
    margin-bottom: 10px;
}

body {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-01.jpg");
    min-height: 100vh;
    min-width: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 131, 211, 0.5);
    background-size: cover;
}

.bk-1 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-02.jpg");
}

.bk-2 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-03.jpg");
}

.bk-3 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-04.jpg");
}

.bk-4 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-05.jpg");
}

.bk-5 {
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-06.jpg");
}