@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'errorMessage';

@import "backgroundSwap";

$font1: "Roboto", san-serif;

.btn{
    border: 1px solid black !important;
    width: 40%;
    margin-bottom: 10px;
}

.sub-item{
    color: black;
    
}

.last-btn-item{
    background: black;
    color: white;
    border: none;
    width: 40%;
    margin-bottom: 10px;
}

body {
    font-family: $font1;
    background: 
        linear-gradient(
            rgba(0, 131, 211, 0.5),
            rgba(0, 131, 211, 0.5)
        ),
        url("/images/background-01.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 131, 211, 0.5);
    background-size: cover;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

form {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px 50px 50px;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


#logo {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    margin-bottom: 80px;
    width: 350px;
}

#login-inst {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    color: white;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
    grid-row: 3;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

#submit-btn {
    grid-row: 4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    color: black;
    background-color: white;   
}

input {
    text-align: center;
}

// form {
//     margin: 0 auto;

// }