@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'errorMessage';
@import 'scriptFont';
@import 'card';
@import 'genderPage';
@import 'answers';
@import "backgroundSwap";
@import "tapScreen";
@import "smallLogo";

$font1: "Open Sans", san-serif;

$black: #333;

.btn{
    border: 1px solid white !important;
    // width: 40%;
    background: white;
    margin-bottom: 10px;
}

.sub-item{
    color: $black;
}

.last-btn-item{
    background: none;
    color: white;
    border: none;
    font-size: 1.5em;
    margin-bottom: 10px;
}

body {
    font-family: $font1;
    background: 
        linear-gradient(to bottom right,
            rgba(116, 202, 255, 0.7),
            rgba(0, 131, 211, 0.8)
        ),
        url("./../images/background-01.jpg");
    color: #333;
    height: 100vh;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

#logo {
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
    width: 300px;
}

#login-inst {
    align-self: center;
    justify-self: center;
    color: white;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

#submit-btn, #exit-btn {
    align-self: center;
    justify-self: center;
    color: $black;
    background-color: white;  
    width: 250px; 
}

input {
    text-align: center;
}

#button-set {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub-heading {
    color: white;
}

.title{
    color: white;
    font-family: $font1;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    width: 100%;
}

.row{
    width: 100%;
    justify-content: center;
}

.age-btn {
    width: 350px;
}

.card-text {
    font-size: 2em;
}
// form {
//     margin: 0 auto;

// }